ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

ul a {
  list-style: none;
  margin-left: 20px;
}

ul li:first-child {
  margin-left: 0;
}

.foodCard {
  box-shadow: 2px 4px 8px rgb(223, 219, 219);
  height: 320px;
}

.foodCard:hover {
  box-shadow: 2px 4px 8px rgb(196, 189, 189);

}